AnchorPane, .Dialogos, .Dialogos:header .header-panel, .Dialogos > .button-bar > .container, JFXListView{
    -fx-background-color: #252525;
}

VBox, HBox, BordePane, Pane, TableView{
    -fx-background-color: transparent;
}

JFXButton {
    -fx-text-fill: white;
    -fx-background-color: #0085d7;
    -jfx-button-type: FLAT;
}

.Dialogos *.button{
    -fx-text-fill: white;
    -fx-background-color: #0085d7;
    -jfx-button-type: FLAT;
}

Label {
    -fx-text-fill: white;
}

JFXTextField, JFXPasswordField, JFXTextArea {
    -fx-prompt-text-fill: white;
    -jfx-focus-color: #0085d7;
    -jfx-unfocus-color: white;
    -fx-text-fill: white;
}

Hyperlink {
    -fx-text-fill: white;
}

.jfx-slider > .track {
    -fx-background-color: white;
}

.jfx-slider > .thumb {
    -fx-background-color: #0085d7;
}

.jfx-slider > .colored-track {
    -fx-background-color: #0085d7;
}

.jfx-slider > .animated-thumb {
    -fx-background-color: #0085d7;
}

.jfx-slider .slider-value {
    -fx-fill: white;
    -fx-stroke: white;
}

.split-pane > .split-pane-divider {
   -fx-background-color: #3d3c3c;
}

SplitPane {
    -fx-padding: 0;
}

.table-view .column-header{
    -fx-border-width: 0;
}

.jfx-progress-bar > .track, .jfx-progress-bar > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #0085d7;
}

JFXRadioButton {
    -jfx-selected-color: #0085d7;
    -jfx-unselected-color: white;
    -fx-text-fill: white;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color:  #252525;
    -fx-text-fill: white;
}

.list-cell:even, .list-cell:odd { 
    -fx-background-color:  #252525;
}

.list-cell:filled:hover {
    -fx-background-color: #252525;
    -fx-text-fill: white;
}

.jfx-combo-box{
    -fx-background-color: #252525;
    -jfx-focus-color: #0085d7;
    -jfx-unfocus-color: #252525;
    -fx-prompt-text-fill: white;
}

.combo-box .cell{
    -fx-text-fill: white;
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -jfx-background-color: #252525;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #0085d7;
}

.combo-box-popup .list-view .jfx-list-cell:odd,
.combo-box-popup .list-view .jfx-list-cell:even {
    -jfx-background-color: #252525;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell, .table-row-cell:odd{
    -fx-background-color: #252525;
    -fx-table-cell-border-color: #252525;
    -fx-border-color: #252525;
}

.table-row-cell:selected {
    -fx-background-color: #0085d7;
    -fx-table-cell-border-color: #252525;
    -fx-border-color: #252525;
}

.table-view{
    -fx-border-color: #252525;
}

.table-view .column-header-background{
    -fx-background-color: #252525;
}

.table-view .column-header{
    -fx-border-color: white;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.accordion {
    -fx-border-color: transparent;
}

.titled-pane:focused > .title {
    -fx-background-color: #0085d7;
}

.titled-pane> .title {
    -fx-background-color: #252525;
}

.titled-pane:focused > .title > .arrow-button .arrow, .titled-pane > .title > .arrow-button .arrow {
    -fx-background-color: white;
}

.titled-pane > .title > .text {
    -fx-fill: white;
}

.titled-pane > .title {
    -fx-border-color: transparent;
}
